@import url("https://fonts.googleapis.com/css?family=Raleway:400");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	scroll-behavior:smooth;
	scroll-padding-top: 3rem;
	font-family: "Trirong", serif;
  }
  :root {
	--main-color: #033a80;
	--bg-color: #F5F5F5;
	--text-color: #0f0c27;
	--hover: hsl(251, 100%, 51%);
	--color-primary: #553c9a;
	--color-secondary: #553c9a;
	--color-white: crimson;
	--color-black: #000;
	--color-grey0: rgb(188, 222, 232);
	--color-grey-4: #00c2cb;
	--color-grey-5: #fff;
	--color-grey-6: crimson;
	--br-sm-2: 14px;
	--box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
  }
  section {
	padding: 50px 10%;
  }
  body.active {
	--text-color: #fff;
	--bg-color: #0f0c27;
	--links-color:#fff;
	--project-color: #fff;
	--q-color:crimson;
  }

body {
	font-family: "Trirong", serif;	
	background: var(--bg-color);
    color: var(--text-color);
	--project-color:#0000FF;
	--q-color: #553c9a;
	font-size: 26px;	
} 
#q,#q1,#q2
{
	color: var(--q-color);
}
  *::selection {
	color: var(--bg-color);
	background: var(--main-color);
  }
 
  .heading {
	text-align: center;
  }
 
  .heading h2 {
	font-size: 30px;
  }
  .heading span {
	font-size: var(--p-font);
	color: rgb(2, 166, 70);
  }
 #hinfo
 {
	line-height: 2.5rem;
 }
  header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--bg-color);
	padding: 13px 10%;
	transition: 0.2s;
	box-shadow: -3px -3px 7px #ffffff73,
	  2px 2px 5px rgba(94, 104, 121, 0.288);
  }
 
  header.shadow {
	box-shadow: 0 0 4px rgb(14 55 54 / 15%);
  }
 
  .logo {
	font-size: 1.61rem;
	font-weight: 600;
	color: var(--text-color);
  }
 
  .logo span {
	font-size: 1.61rem;
	font-weight: 600;
	color: crimson;
  }
 
  .navbar {
	display: flex;
	list-style: none;
  }
 
  .navbar a {
	font-size: 1.3rem;
	padding: 10px 20px;
	color: var(--text-color);
	font-weight: 500;
  }
  #menu-icon {
	font-size: 30px;
	cursor: pointer;
	z-index: 10001;
	display:none;
  }
 #rinfo
 {
	color: white;
 }
  #darkmode {
	font-size: 26px;
	cursor: pointer;
  }
  .navbar a:hover {
	color: var(--hover);
  }
  #titles
  {
	color: crimson;
  }
#th1
{
	width: 40%;
	padding-left: -2vh;
	padding-right: 40px;
	border-collapse: collapse;
}
#th2
{
	border-collapse: collapse;
	text-align: left;
	line-height: 2.2rem;
}
.name
{
    color: crimson;
    transition: text-decoration 10ms ease-in-out;
    cursor: pointer;
}
.name:hover
{
    text-decoration: underline;
}
#homeimg
{
	width: 50%;
	height: 70%;
	margin-left: 70%;
	border-radius: 50%;
	overflow: hidden;
}
#dp
{
	display: flex;
	position: relative;
	width: 90%;
	height: 110%;
	border-radius: 50%;
	font-size: 24px;
	overflow: hidden;
}
#homeimg2
{
	width: 40%;
	height: 30%;
	margin-left: 60%;
	border-radius: 50%;
}
#homeimg3
{
	width: 35%;
	height: 50%;
	margin-left: 60%;
	border-radius: 50%;	
}
#homeimg4
{
	width: 40%;
	height: 100%;
	margin-left: 60%;
	border-radius: 49%;
}
#homeimg5
{
	width: 40%;
	height: 100%;
	margin-bottom: 3%;
	margin-left: 60%;
	border-radius: 50%;
}
#pabout
{
	font-size: 30px;
}
#pinfo
{
	line-height: 2rem;
}
#time
{
	margin-left: 23%;
}
#time1
{
	margin-left: 20%;
}
#time2
{
	margin-left: 19%;
}
.about-stats {
	padding-bottom: 4rem;
  }
  .about-stats .progress-bars {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
  }
  .about-stats .progress-bars .progress-bar {
	display: flex;
	flex-direction: column;
  }
  .about-stats .progress-bars .progress-bar .prog-title {
	text-transform: uppercase;
	font-weight: 500;
  }
  .about-stats .progress-bars .progress-bar .progress-con {
	display: flex;
	align-items: center;
  }
  .about-stats .progress-bars .progress-bar .progress-con .prog-text {
	color: var(--color-grey-2);
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress {
	width: 100%;
	height: 0.45rem;
	background-color: var(--color-grey-4);
	margin-left: 1rem;
	position: relative;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: var(--color-secondary);
	transition: all 0.4s ease-in-out;
	width: 60%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .html {
	width: 90%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .css {
	width: 85%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .js {
	width: 80%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .react {
	width: 80%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .node {
	width: 75%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .python {
	width: 80%;
  }
#profilelogos
{
	margin-left: 3%;
	color: var(--links-color);
	font-size: 30px;
}
#pro
{
	width: 2.3%;
	height: 5%;
}
#p1
{
	background: var(--bg-color);
	color: var(--project-color);
}
  .contact-content-con {
	display: flex;
	padding-top: 3.5rem;
  }
  .contact-content-con .left-contact {
	flex: 2;
  }
  .contact-content-con .left-contact h4 {
	margin-top: 1rem;
	font-size: 2rem;
	text-transform: uppercase;
  }
  .contact-content-con .left-contact p {
	margin: 1rem 0;
	line-height: 2rem;
  }
  .contact-content-con .left-contact .contact-info .contact-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .contact-content-con .left-contact .contact-info .contact-item p {
	margin: 0.3rem 0 !important;
	padding: 0 !important;
  }
  .contact-content-con .left-contact .contact-info .contact-item .icon {
	display: grid;
	grid-template-columns: 40px 1fr;
  }
  .contact-content-con .left-contact .contact-info .contact-item .icon i {
	display: flex;
	align-items: center;
	font-size: 1.3rem;
  }
  .contact-content-con .left-contact .contact-icon {
	display: flex;
	margin-top: 2rem;
  } 
  .contact-content-con .left-contact .contact-icon a {
	display: flex;
	align-items: center;
	color: var(--color-white);
	background-color: var(--color-grey-5);
	cursor: pointer;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	/* font-size: 36px; */
	margin: 0 0.4rem;
	transition: all 0.4s ease-in-out;
  }
  .contact-content-con .left-contact .contact-icon a:hover {
	background-color: var(--color-grey-6);
  }

  .contact-content-con .left-contact .contact-icon a:hover i {
	color: var(--color-primary);
  }
  .contact-content-con .left-contact .contact-icon a i {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3rem;

  }
  .contact-content-con .right-contact {
	flex: 3;
	margin-left: 3rem;
  }
  .contact-content-con .right-contact .input-control {
	margin: 1.5rem 0;
  }
  .contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
	border-radius: 30px;
	font-weight: inherit;
	font-size: inherit;
	font-family: inherit;
	padding: 0.8rem 1.1rem;
	outline: none;
	border: none;
	background-color: var(--color-grey-5);
	width: 100%;
	color: var(--color-white);
	resize: none;
  }
  .contact-content-con .right-contact .i-c-2 {
	display: flex;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
	margin-left: 1.5rem;
  }
  .btn {
	display: inline-block;
	margin-bottom: 2%;
	background: var(--main-color);
	color: #fff;
	padding: 0.7rem 1.3rem;
	border-radius: 0.5rem;
	transform: translate(-25px , 0px);
  }
  .btn:hover {
	background: var(--hover);
  }
  .c-btn{
	width: 30%;
	font-size: 20px;
	display: inline-block;
	background: var(--main-color);
	color: #fff;
	padding: 0.7rem 1.3rem;
	border-radius: 0.5rem;
  }
 
  .c-btn:hover {
	background: var(--hover);
  }
 
  .footer {
	display: grid;
	place-items: center;
	padding: 20px;
	color: #000;
  }
 
  .footer h2 {
	font-size: 1.5rem;
	margin-bottom: 1.6rem;
	color: var(--text-color)
  }
 
  .footer-social a i {
	color: rgb(10, 26, 208);
	font-size: 25px;
	margin-left: 10px;
	text-align: center;
	line-height: 40px;
	background-color: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
  }
 
  .copyright {
	padding: 20px;
	background: var(--main-color);
	text-align: center;
	color: #fff;
  }
  .copyright a {
	color: #22cf91;
  }
  .links
  {
	transition: text-decoration 10ms ease-in;
  }
  .links:hover
  {
	color: crimson;
	text-decoration: underline;
  }
@media screen and (max-width: 970px) {
	#pro
	{
		width: 1.6rem;
	}
	.c-btn
	{
		width: 40%;
	}
  }
  @media screen and (max-width: 1070px) {
	.c-btn
	{
		width: 40%;
	}
	#pro
	{
		width: 1.6rem;
	}
  }
  @media screen and (max-width: 1432px) {
	#homeimg
	{
		width: 42%;
	}
	#homeimg2
	{
		width: 40%;
	}
  }
  
  @media only screen and (max-width: 1200px){
	 :root {
	  --big-font: 2.4rem;
	  --medium-font: 1.2rem;
	} 
	header {
		padding: 18px 4%;
	  }
   
	  section {
		padding: 50px 4%;
	  } 
	#menu-icon {
	  display: initial;
	  font-size: 40px;
	  color: var(--text-color);
	}
	#q,#q2,#q3
	{
		font-size: 18px;
	}
	header .navbar {
	  position: absolute;
	  top: -500px;
	  left: 0;
	  right: 0;
	  display: flex;
	  flex-direction: column;
	  background: var(--bg-color);
	  box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
	  transition: 0.2s ease;
	  text-align: center;
	}
 
	.navbar.active {
	  top: 100%;
	}
	
	.navbar a {
	  padding: 1.5rem;
	  display: block;
	  background: var(--bg-color);
	}
 
	#darkmode {
        font-size: 30px;
        position: absolute;
        top: 1.4rem;
        right: 2rem;
        }
	.scroll-down {
	  display: none;
	}
	#time
	{
		margin-left: 1%;
		font-size: 9px;
	}
	#time1
	{
		margin-left: 1%;
		font-size: 9px;
	}
	#time2
	{
		margin-left: 1%;
		font-size: 9px;
	}
	#cinfo
	{
		font-size: 16px;
	}
	#info,#xinfo
	{
		font-size: 16px;
	}
	#name,#mail,#subject,#text1
	{
		font-size: 12px;
	}
	#pro
	{
		width: 2.7%;
		height: 8%;
	}
	#homeimg
	{
		width: 36%;
		height: 60%;
	}
	#homeimg5
	{
		width: 38%;
	height: 60%;
	}
	#q1
	{
		font-size: 15px;
	}
	#q2
	{
		font-size: 14px;
	}
	#homeimg2
	{
		width: 38%;
		height: 60%;
	}
	#homeimg3
	{
		width: 38%;
		height: 60%;
	}
	#homeimg4
	{
		width: 38%;
		height: 60%;
	}
	.navbar a {
		font-size: 1.3rem;
		overflow: hidden;
	}
	.btn1{
		display: inline-block;
		width: 30%;
	}
	#hin
	{
	   font-size: 22px;
	}
	.c-btn
	{
		width: 50%;
	} 
}

@media screen and (min-width: 400px) and (max-width: 1300px)
{
	header
	{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 100001;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--bg-color);
	padding: 15px 10%;
	padding-bottom: 2px;
	padding-top: 10px;
	transition: 0.2s;
	box-shadow: -3px -3px 7px #ffffff73,
	  2px 2px 5px rgba(94, 104, 121, 0.288);
  }
  	.navbar
	{
		height: 500%;
		flex-wrap: wrap;
	}
	.navbar a
	{
		font-size: 28px;
	}
	#darkmode
	{
		font-size: 30px;
	}
	#menu-icon
	{
		transform: translate(70px , 0px);
	}
	#hin
	{
		font-size: 29px;
	}
	#menu-icon {
		display: initial;
		font-size: 40px;
		color: var(--text-color);
	  }
	#dp
	{
		width: 110%;
		padding-left: 0;
		padding-right: 10px;
	}
	#pabout
	{
		font-size: 28px;
		line-height: 1.5em;
	}
	#th2
	{
		width: 100%;
	}
	#q , #q1 , #q2
	{
		font-size: 27px;
		padding-right: 20px;
	}
	#q
	{
		padding-right: 30px;
	}
	#q1
	{
		padding-right: 30px;
	}
	#time , #time1 , #time2
	{
		font-size: 24px;
	}
	.contact-content-con .left-contact .contact-info .contact-item {
		justify-content: space-evenly;
	}
	.location{
		padding-right: 0;
		margin-right: 0;
		font-size: 30px;
	}
	#email
	{
		font-size: 20px;
	}
	#my-email
	{
		font-size: 22px;
	}
	#edu
	{
		font-size: 22px;
	}
	#my-edu
	{
		font-size: 23px;
	}
	#num
	{
		font-size: 20px;
	}
	#my-num
	{
		font-size: 23px;
	}
	#lan
	{
		font-size: 21px;
	}
	#my-lan
	{
		font-size: 23px;
	}
	input::placeholder
	{
		font-size: 24px;
	}
	header .navbar {
		position: absolute;
		top: -500px;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		background: var(--bg-color);
		box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
		transition: 0.2s ease;
		text-align: center;
	  }
	  .navbar.active {
		top: 100%;
	  }
	  
	  .navbar a {
		padding: 1.5rem;
		display: block;
		background: var(--bg-color);
	  }
	  .c-btn
	{
		width: 50%;
	}
	.btn1{
		display: inline-block;
		width: 30%;
	}
	.scroll-down {
		display: none;
	  }
}

@media screen and (min-width: 300px) and (max-width: 400px){
	#hin
	{
		font-size: 18px;
	}
	.name1
	{
		font-size: 20px;
	}
	#homeimg
	{
		width: 45%;
	}
	#pabout
	{
		font-size: 21px;
		padding-right: 0;
		padding-left: 20px;
		transform: translate(60px , 0px);
	}
	#dp
	{
		padding-left: 0%;
		margin-left: 0;
		width: 150%;
		transform: translate(-30px , 0px);
	}
	#q , #q1 , #q2
	{
		font-size: 20px;
	}
	#time1 , #time2
	{
		padding-left: 120px;
	}
	#pro
	{
		width: 2.6rem;
	}
	#pinfo
	{
		font-size: 23px;
		line-height: 3rem;
	}
	.location{font-size: 29px;}
	.my-location{font-size: 29px;}
	input::placeholder
	{
		font-size: 24px;
	}
}